.popup{
    position: fixed;
    top:80px;
    left: 180px;
    background-color: rgb(255, 255, 255);
    width:70%;
    
    /* height: 100px; */
}
.popup-box{
position: relative;
/* padding: 32px;
width: 100%; */
}
.pop-button{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 0px;
    right:0px;
    width: 40px;
    height: 20px;
    z-index: 1;
}